

        #mnistappR {
            /* Prevent nearby text being highlighted when accidentally dragging mouse outside confines of the canvas */
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .rightsideR {
            /*float: left;
            width: 140px;
            height: 125px;*/
            background-color: rgb(81,89,255);
            /*padding: 10px;
            border-radius: 4px;*/
        }

        .leftsideR {
            float: left;
            width: 150px;
            height: 200px;
            margin-left: 10px;
        }

        #sketchpadR {
            float: left;
            height: 140px;
            width: 140px;
            border: 2px solid #888;
            border-radius: 4px;
            position: relative;
            background-color: black;
            /* Necessary for correct mouse co-ords in Firefox */
        }

        #clearbuttonR {
            font-size: 15px;
            padding: 10px;
            -webkit-appearance: none;
            background: #eee;
            border: 1px solid #888;
        }

        #predictbuttonR {
            font-size: 15px;
            padding: 10px;
            -webkit-appearance: none;
            background: #eee;
            border: 1px solid #888;
        }
        .result-colorR{ background-color:rgb(81,89,255); }

        headerR{
            background-color:green;
        }
        header h1{border: 0; margin: 0;}
        *{border: 0; margin: 0;}